[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gunicorn = "*"
babel = "*"
flask-babel = "*"
flask-login = "*"
flask-principal = "*"
backports-abc = "*"
flask = "*"
iso-639 = "*"
pypdf3 = "*"
pytz = "*"
sqlalchemy = "*"
tornado = "*"
wand = "*"
unidecode = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
